<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>{% block title %}Fancy little polls <3{% endblock %}</title>
</head>

<body>
    <header id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'polls:index' %}">Home</a></li>
            <li><a href="{% url 'polls:all' %}">All</a></li>
        </ul>
        {% endblock %}
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>