li a {
    color: #E8C1C1;
}

#content {
    background: white url("images/background_2.png") no-repeat;
    height: 500px;
}

#sidebar {
    height: 50px;
    background-color: MediumSlateBlue;
    display: flex;
    align-items: center;
}

#sidebar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}