#sidebar {
    background-color: blue;
}

#sidebar {
    height: 50px;
    background-color: MediumSlateBlue;
    display: flex;
    align-items: center;
}

#sidebar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}